<div>
  <h2>Enter Two-Factor Authentication Token</h2>
  <form action="/two-factor" method="POST">
    <div>
      <label>Enter token</label>
      <input type="number" id="token" name="token" placeholder="" value="token">
    </div>
    <button type="submit">Verify Token</button>
  </form>
</div>
